#question {
    font-size: 35px;
    color: black;
}

.whole {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    background: black;
    font-size: 3rem;
    min-width: 80rem;
}

.whole:hover {
    cursor: crosshair;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0 5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice {
    padding: 2rem 2.5rem;
    color: yellow;
}

.answer {
    padding: 2rem;
    width: 100%;
    color: white;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}

#first {
    display: flex;
    justify-content: space-between;
}

.second {
    text-align: center;
    font-size: 2rem;
    
}

.fourth {
    text-align: center;
}


@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}