:root {
    background-color: rgb(29, 26, 26);
}

body {
    color: white;
    text-shadow: black 1px 1px;
}

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}